
body{
    width: 900px;
    margin: auto;
    font-family: sans-serif;
}

#gunn{
width: 10%;
}

h1{
    background-color: rgb(5, 5, 68);
    padding: 4rem;
    color: rgb(253, 253, 253);
    text-align: center;
    width: 400px;
    margin: auto;
    font-size: 4rem;
    border-radius: 10px;
}
h1 a{
    color: white;
    text-decoration: none;
}
        /* NAVIGATION */
        .nav-main {
   margin: auto;
          }
        
          .nav-main ul {
            display: flex;
            /* justify-content:center; */
            flex-direction: column;
            padding-right: 2rem;
            margin-top: 2rem;
            gap: 4rem;
            list-style: none;
            text-align: center;
           
          }
          .nav-main ul li{
            background-color: blueviolet;
            padding: 2rem;
            width: 300px;
            margin: auto;
            border-radius: 10px;
          }
          .nav-main a{
            text-decoration: none;
            padding: 1rem;
            font-size: 30px;
            color: white;
            margin: 1rem;
          }
